.form-control{
    background-color: aliceblue;
    width: 20rem;
    height: 10rem;
    margin-top: 2rem;
    margin-left: 5rem;
}
.formValid{
font-size:3rem;
display: flex;
justify-content:space-around;
align-items: center;
text-align:center;
flex-direction: column;
}
.my-input{
    font-size: large;
    margin: 0.5rem;
}
.my-button{
    margin:0.5rem;
    background-color: aquamarine;
}
input{
    font-size: large;
    margin:0.5rem;
    
}